*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/Punchers-Cat\Library
Punchers-Cat/Library/PackageCache/com.unity.burst@1.8.4/.Runtime/libburst-llvm-14.dylib
